# Mosquitto
MOSQUITTO_HOST=mosquitto
MOSQUITTO_PORT=8883
MOSQUITTO_CA_CERT=./certs/mosquitto/ca.crt
MOSQUITTO_CLIENT_CERT=./certs/mosquitto/backend-client.crt
MOSQUITTO_CLIENT_KEY=./certs/mosquitto/backend-client.key

# Postgres
POSTGRES_CA_CERT=./certs/postgres/ca.crt
POSTGRES_CLIENT_CERT=./certs/postgres/backend-client.crt
POSTGRES_CLIENT_KEY=./certs/postgres/backend-client.key
